* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Poppins", sans-serif;
  color: #333;
  overflow-x: hidden;
}

/* ----------------Navbar Styling----------------- */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px 5px 25px;
  position: fixed;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(10px); /* Glassy effect */
  /* background-color: rgba(255, 255, 255, 0.2); */
  background-color: #fff;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  width: 100%;
}
.navbar .logo {
  display: flex;
  height: 100%;
  align-items: center;
}

.nav-links {
  display: flex;
  list-style: none;
  align-items: center;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links li a {
  text-decoration: none;
  color: #000000;
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #00c853;
}
.nav-links li a.active {
  color: #00c853;
  font-weight: bold;
  position: relative;
}

.nav-links li a.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #00c853;
  position: absolute;
  bottom: -5px;
  left: 0;
  animation: slide-in 0.3s ease-out;
}

@keyframes slide-in {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.nav-links li .buy-credit-button {
  color: white;
  background-color: #000000;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: ease-in-out 0.5s;
}

.nav-links li .buy-credit-button:hover {
  background-color: #00c853;
  color: #000000;
}

/* Menu Toggle Button */
.menu-bar {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.menu-bar .bar {
  width: 25px;
  height: 3px;
  background-color: #009624;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

/* Animation for Menu Bar Toggle */
.menu-bar.open .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.menu-bar.open .bar:nth-child(2) {
  opacity: 0;
}

.menu-bar.open .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* Header------------ */
header.page-header {
  text-align: center;
  background-color: #4caf50;
  color: white;
  padding: 5rem 1rem;
}

header.page-header h1 {
  margin: 0;
  font-size: 2.5rem;
}

header.page-header p {
  margin: 0.5rem 0 0;
  font-size: 1.2rem;
}

/* cards */
.card {
  background: #fff;
  margin-top: 20px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h2 {
  color: #4caf50;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 98.5%;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group select {
  width: 100%;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #45a049;
}

.credit-cards {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.credit-card {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  background-color: #fff;
}

.credit-card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.credit-title {
  font-size: 1.2rem;
  color: #333;
  margin: 10px 0;
}

.credit-description {
  font-size: 0.9rem;
  color: #666;
  padding: 0 10px;
}

.credit-price {
  font-size: 1rem;
  color: #28a745;
  font-weight: bold;
  margin: 10px 0;
}

.purchase-button,
.wallet-button {
  display: inline-block;
  margin: 10px 5px;
  padding: 8px 15px;
  font-size: 0.9rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.purchase-button {
  background-color: #000;
  color: #fff;
}

.purchase-button:hover {
  background-color: #00c853;
}

.wallet-button {
  background-color: transparent;
  color: #000;
  border: 1px solid #000;
}

/* Footer */
footer.footer {
  text-align: center;
  padding: 1rem;
  background-color: #2c3e50;
  color: white;
  margin-top: 2rem;
}

footer.footer a {
  color: #4caf50;
  text-decoration: none;
}

footer.footer a:hover {
  text-decoration: underline;
}

.search-container {
  margin: 2rem auto;
  text-align: center;
}

.search-container input[type="text"] {
  width: 60%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.search-container button {
  padding: 0.8rem 1.5rem;
  background-color: #4caf50;
  border: none;
  color: white;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-container button:hover {
  background-color: #388e3c;
}

/* Help section */
.help-section {
  background: linear-gradient(135deg, #f5fff5, #d9f7d9);
  padding: 50px 20px;
  margin: 25px;
}

.section-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.description {
  width: 50%;
  padding-right: 20px;
}

.description h1 {
  text-align: center;
  color: #2a7f3d;
  margin-bottom: 20px;
}

.description p {
  font-size: 1.1em;
  line-height: 1.6em;
  color: #333;
  text-align: center;
}

.image img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.benefits-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(1fr, 1fr));
}

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  color: #2a7f3d;
  font-size: 1.5em;
  margin-bottom: 15px;
}

.card p {
  font-size: 1.1em;
  color: #555;
  line-height: 1.5em;
}

/* ----------------Footer  Styling---------------- */

.footer {
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 40px 20px;
  text-align: left;
}

.footer .container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.footer-section {
  flex: 1 1 200px;
  margin-bottom: 20px;
}

.footer-section h3 {
  color: #27ae60;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #ecf0f1;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-section p {
  margin-bottom: 10px;
}

.footer-section form {
  display: flex;
  gap: 10px;
}

.footer-section form input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 4px;
}

.footer-section form button {
  background-color: #27ae60;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.footer-section form button:hover {
  background-color: #1e874b;
}

.social-media {
  margin-top: 15px;
}

.social-media a {
  color: #ecf0f1;
  font-size: 1.5rem;
  margin-right: 10px;
  text-decoration: none;
}

.social-media a:hover {
  color: #27ae60;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #34495e;
  padding-top: 20px;
  margin-top: 20px;
}

.footer-bottom p {
  font-size: 0.9rem;
}

/* Responsiveness */
@media (max-width: 768px) {
  /* ---------Navbar Reponsive------------ */
  .navbar {
    padding: 12px 12px 12px 12px;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    z-index: 1000;
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
  }

  .nav-links.active {
    display: flex;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    padding: 20px;
    margin: 6px;
  }

  .nav-links li {
    margin: 10px 0;
    text-align: center;
  }
  .logo img {
    width: 200px;
  }
  .menu-bar {
    display: flex;
  }

  .logo {
    order: -1;
  }

  .menu-bar {
    order: 1;
  }

  #address {
    width: 100%;
  }
  .menu-bar {
    order: 1;
  }
  .section-content {
    width: 100%;
    flex-direction: column;
  }
  .description {
    width: 100%;
  }
  .credit-card {
    width: 100%;
    height: auto;
  }
}
